html, body {
  min-width: 150px;
  width: auto;
}

.bookmark-folder {
  width: auto;
  padding: 4px;
  padding-right: 20px;
  font-size: 1.5em;
  text-align: left;
  cursor: pointer;
}

[name=".all"] {
  background-color: #c0c0c0;
}

.bookmark-folder:hover {
  background-color: #CFF2F2;
}