html, body {
  width: 300px;
}

.bookmark-folder {
  width: 100%;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.bookmark-folder:hover {
  background-color: #CFF2F2;
}